@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}

.wrapper {
    height: 100vh;
    padding: 10px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

form {
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

input, textarea {
    padding: 2%;
}

textarea {
    resize: none;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.notes h2 {
    width: 100vw;
}

.notes div {
    border: 1px solid black;
    padding: 0.5%;
}